/* Stile base */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    color: #f5f5f5;
}
p, li{
    text-align: justify;
}

/* Header e Footer */
header, footer {
    background: #4b3621;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

footer section {
    background: #362d26;
    color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 1rem auto;
    max-width: 800px;
    text-align: center;
}
footer section a {
    color: #a8926a;
    text-decoration: none;
    font-weight: bold;
}
footer section a:hover {
    color: #d1b894;
}
footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px;
}
footer div a {
    margin: 0 10px;
    color: #a8926a;
    transition: color 0.3s ease;
}

/* Navigazione */
nav ul {
    display: flex;
    justify-content: center;
    background: #362d26;
    padding: 1rem 0;
    list-style: none;
    margin: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #d1b894;
}

/* Sezioni */
section {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    background: #2e2e2e;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Effetti fade-in */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Banner Cookie */
#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(43, 43, 43, 0.95);
    color: #d1b894;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}
#cookie-banner button {
    background: #a8926a;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}
#cookie-banner button:hover {
    color: #000000;
    background: #d1b894;
}
#cookie-banner a {
    color: #a8926a;
}
#cookie-banner a:hover {
    color: #ffffff;
}
footer, #cookie-content > p {
    text-align: center; 
}
